<!-- application chrome -->
<!--data-underscore-->
<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" role="head-nav"></div>
        </div>
    </div>
</nav>

<div class="app-container container">
    <div class="app-menu" role="menu"></div>
    <div role='main' class="app-main row"></div>
</div>

<footer>
    <div class="container-fluid">
        <div class="col-sm-12" role="footer-nav"></div>
    </div>
</footer>
<!--/data-underscore-->
<!-- /application chrome -->